* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-evenly;
    padding: 8px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header .links {
    display: flex;
    gap: 14px;
}

.header .links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    
}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 64px;
    justify-content: center;
    gap: 8px;
}

.hero .left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-wrap: wrap;
    width: 450px;
}

.hero .left .hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero .left .hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.button-sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px;
    flex-grow: 0;
    width: 100px;
    border: none;
    border-radius: 8px;
}

.hero .right {
    display: flex;
    background-color: gray;
    color: #E5E7EB;
    padding: 14px;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding: 64px;
}

.information .info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.information .info-boxes {
    display: flex;
    gap: 16px;
    width: 1000px;
    font-size: 18px;
    color: #1F2937;
    text-align: center;
}

.information .info-boxes .info-box {
    display: flex;
    flex-direction: column;
    padding: 18px;
    gap: 8px;
}

.information .info-boxes .info-box .illus {
    border: 2px solid #3882F6;
    border-radius: 8px;
    padding: 8px;
    height: 140px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 64px;
    
}

.quote-block {
    width: 800px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-sub {
    text-align: end;
    font-size: 18px;
    font-weight: bold;
}

.call-to-action {
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action .call-to-action-box {
    display: flex;
    padding: 24px;
    border-radius: 8px;
    gap: 24px;
    background-color: #3882F6;
}

.call-to-action .call-to-action-box .left .head {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.call-to-action .call-to-action-box .left .sub {
    font-size: 18px;
    color: #E5E7EB;
    
}

.call-to-action .call-to-action-box .right .button-sign-up{
    border: 1px solid white;
}